@import url('https://fonts.googleapis.com/css2?family=Advent%20Pro');
.nav-link{
	margin-right: 15px;
	color:#c9ebf1;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #b3ecff;
	letter-spacing: 0.5px;
}
h2{
	color: #b3ecff;
	letter-spacing: 0.5px;
	font-family: advent pro;
}